<header class="main-header">

    <!-- Logo -->
    <a href="index2.html" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>Todo</b></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>Todo</b>List</span>
    </a>

    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">

                <li class="dropdown user user-menu" *ngIf="matricula" >
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="assets/dist/img/user-icon.jpg" class="user-image" alt="User Image">
                        <span  class="hidden-xs">{{usuario ? usuario[0].nome : ''}}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            <img src="assets/dist/img/user-icon.jpg" class="img-circle" alt="User Image">

                            <p>
                                    {{usuario ? usuario[0].nome : ''}}
                            </p>
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a [routerLink]="['/dashboard']" class="btn btn-default btn-flat">Meu Dashboard</a>
                            </div>
                            <div class="pull-right">
                                <a (click)="logout()" class="btn btn-default btn-flat">Sair</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <!-- Control Sidebar Toggle Button 
                <li>
                    <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                </li>
                -->
            </ul>
        </div>

    </nav>
</header>